 
/* about styles  */
.about {
	padding-top: 80px;
	padding-bottom: 101px;
}
.about-title {
	font-weight: 700;
	font-size: 120px;
	line-height: 141px;
	text-align: center;
	margin: 0;
	color: #01384d;
}
.about-desc {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #01384d;
}