.custom-input {
    margin-bottom: 35px;
    padding: 40px 68px 41px 128px;
    border-radius: 30px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: left 68px center;
    background-size: 25px 30px;
    &::placeholder {
        font-size: 24px;
        line-height: 33px;
    }



    &:nth-child(3) {
        background-image: url("/hero/password.svg");
    }

    &:nth-child(2) {
        background-image: url("/hero/user-dark.svg");
    }
}